/* 
font-family: 'Revalia', sans-serif;
font-family: 'Roboto', sans-serif;
 */

 /* General styles */
 html {
    box-sizing: border-box;
 }

*, *::before, *::after {
    box-sizing: inherit;
 }

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --accent-color: #34547A;
    --silver-color: #EEEFF1;
    --tertiary-color: #F9F9F9;
    --black-color: #000000;
    --white-color: #ffffff;
    --gray-color: #727272;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.text-h2 {
    margin-bottom: 50px;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.text-h3 {
    color: var(--white-color);
    font-size: 21px;
    font-weight: 500;
}

.text-p {
    max-width: 540px;
    color: var(--gray-color);
    font-size: 16px;
    line-height: 164.063%; 
}

.btn {
    border: none;
    background-color: var(--accent-color);
    color: var(--white-color);
    text-align: center;
    padding: 25px 41px;
    text-transform: uppercase;
}

/* Header */
.header {
    padding-top: 57px;
    padding-bottom: 146px;
    background-color: var(--silver-color);
}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}

.header__menu_logo {
    color: var(--accent-color);
    font-family: 'Revalia', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
}

.header nav>ul {
    display: flex;
    gap: 42px;
}

nav>ul {
    font-size: 16px;
    line-height: 164.063%; 
    letter-spacing: 1.6px;
}

nav>ul a {
    color: var(--black-color);
}

nav>ul a:hover {
    color: var(--accent-color);
}

.hero {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    gap: 131px;
    align-items: center;
}

.hero__img {
    padding: 15px 5px;
}

.hero__text-h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 164.063%;
    margin-bottom: 60px;
}

.hero-p {
    margin-bottom: 60px;
}

.hero__text-btn {
    font-size: 16px;
}

/* About */
.about {
    padding-top: 119px;
    padding-bottom: 100px;
}

.about-text {
    margin: 0 auto;
    text-align: center;
}

/* Numbers */
.numbers {
    padding: 100px 0;
    background-color: var(--accent-color);
}

.numbers__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 49px;
}

.numbers__grid-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-content {
    display: flex;
    flex-direction: column;
}

.numbers-p {
    color: var(--white-color);
}

/* Skills */
.skills {
    padding: 102px 0;
}

.skills__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__content {
    display: flex;
    flex-direction: column;
}

.progress-bar {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: #999;
    margin-bottom: 10px;
  }

.progress-bar-completed {
    background-color: #34547A;
    width: 75%;
}

.skills-img {
    width: 555px;
}

/* Video */

.video {
    padding: 100px 0;
    background-color: var(--silver-color);
}

.video-p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 57px;
}

video {
    cursor: pointer;
    width: 100%;
}

/* Projects */
.projects {
    padding-top: 28px;
}

.grid__projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 0;
}

.grid__projects-item img{
    max-width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 480px;
    background-image: url(../img/projects/project-1.png);
    background-size: cover;
    position: relative;
  }

  .card-2 {
    background-image: url(../img/projects/project-2.png);
  }

  .card-view-icon {
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
  }

  .card-filter {
    position: absolute;
    background-color: #34547A;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.5s ease;
  }
  .card:hover .card-view-icon {
    opacity: 1;
  }
  .card:hover .card-filter {
    opacity: 0.8;
  }

  /* Partners */
  .partners {
    padding-top: 72px;
    padding-bottom: 100px;
}

.grid-partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}









