/* 
font-family: 'Revalia', sans-serif;
font-family: 'Roboto', sans-serif;
 */

 /* General styles */
 html {
    box-sizing: border-box;
 }

*, *::before, *::after {
    box-sizing: inherit;
 }

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --accent-color: #34547A;
    --silver-color: #EEEFF1;
    --tertiary-color: #F9F9F9;
    --black-color: #000000;
    --white-color: #ffffff;
    --gray-color: #727272;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.text-h2 {
    margin-bottom: 50px;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.text-p {
    max-width: 540px;
    color: var(--gray-color);
    font-size: 16px;
    line-height: 164.063%; 
    margin-bottom: 60px;
}

.btn {
    border: none;
    background-color: var(--accent-color);
    color: var(--white-color);
    text-align: center;
    padding: 25px 41px;
    text-transform: uppercase;
}

/* Header */
.header {
    padding-top: 57px;
    padding-bottom: 146px;
    background-color: var(--silver-color);
}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}

.header__menu_logo {
    color: var(--accent-color);
    font-family: 'Revalia', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
}

.header nav>ul {
    display: flex;
    gap: 42px;
}

nav>ul {
    font-size: 16px;
    line-height: 164.063%; 
    letter-spacing: 1.6px;
}

nav>ul a {
    color: var(--black-color);
}

nav>ul a:hover {
    color: var(--accent-color);
}

.hero {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    gap: 131px;
    align-items: center;
}

.hero__img {
    padding: 15px 5px;
}

.hero__text-h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 164.063%;
    margin-bottom: 60px;
}

.hero__text-btn {
    font-size: 16px;
}

/* About */
.about {
    padding-top: 119px;
    padding-bottom: 100px;
}

.about-text {
    margin: 0 auto;
    text-align: center;
}



